#content_box {
  text-align: center;
  margin: 100px auto auto auto;
  padding: 50px;
  color: black;
  background-color: white;
  border-radius: 1%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.quote_button {
  float: right;
}
